footer {
	background: orange;
	color: black;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
}

footer > section {
	text-align:left;
	display: grid;
	grid-template-columns: 2fr 3fr;
	margin-top: 1em;
}

footer a {
	text-decoration: none;
	color: black;
	font-size:0.8em;
}

footer h2 {
	text-align: right;
	transform: translateY(-15px);
}

@media screen and (max-width: 750px) {
	footer {
		display: block;
	}
}


