body > header  {
	color: white;
	font-size: 2em;
	background: black;
	text-align: left;
	width: 100%;
	align-items: center;
	display: grid;
	grid-template-columns: 2fr 1fr;	
}

body > header a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 0.5em;
}

body > header nav {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

body > header aside {
	display: flex;
	align-items: center;
	font-size: 1.6em;
}

body > header > aside > a img {
	width: 200px;
	padding-right: 1em;	
	vertical-align: middle;
}

