@media screen and (max-width: 750px) {
	footer aside {
		display: block;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 0.68em;
	}
}

@media screen and (min-width: 1600px) {
	body {
		font-size: 1.26em;
	}
}

