@media screen and (max-width: 750px) {
	footer > aside {
		width: 230px;
		margin: auto;
		margin-bottom: 2em;
	}
	footer {
		display: block;
	}
}

@media screen and (max-width: 950px) {
	body {
		font-size: 1em;
	}
}

@media screen and (max-width: 750px) {
	body {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 400px) {
	body > header nav a {
		font-size: 0.4em;
	}
}

@media screen and (max-width: 1000px) {
	body > header  {
		display: block;
	}
	body > header nav a {
		width: 100%;
		padding: 2em;
		text-decoration: underline;
	}
}

