@media screen and (max-width: 750px) {
	footer > aside {
		width: 230px;
		margin: auto;
		margin-bottom: 2em;
	}
	footer {
		display: block;
	}
}

@media screen and (min-width: 1600px) {
	body {
		font-size: 1.26em;
	}
}

@media screen and (max-width: 600px) {
	body > header  {
		display: block;
	}
	body > header nav a {
		width: 100%;
		padding: 2em;
		text-decoration: underline;
	}
}

