* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: white;
	text-align: center;
}

body > article {
	position: relative;
	background: rgb(240, 240, 240);
	padding: 2em 2em 1em 2em;
	margin: 5%;
	max-width: 800px;
	box-shadow: 10px 10px 10px rgb(30, 30, 30);
	border: 1px solid black;
	transform: translateX(200%);
	opacity: 0;
	transition: 1.5s;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
	text-transform: uppercase;
	padding: 1em;
}

article > h1 {
	background: #ffc96b;
	color: black;
	width: 80%;
	margin: auto;
	border: 1px solid black;
}

article > * {
	transform: translateY(-3em);
}

article section section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 1em 8em 1em 8em;
}

article section section p {
	color: orange;
	text-align: right;
}

article section section h3 {
	text-align: left;
}

article img {
	height: 6em;
	padding: 1em;
}

@media screen and (max-width: 670px) {
	body {
		font-size:0.68em;
	}
}

