* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	color: white;
	background: rgb(50, 50, 50);
	text-align: center;
}

body > article {
	position: relative;
	background: rgb(100, 100, 100);
	padding: 2em 2em 1em 2em;
	margin: 5%;
	display: inline-block;
	max-width: 800px;
}

h1, h2 {
	text-transform: uppercase;
	padding: 1em;
}

article > h1 {
	background: orange;
	color: black;
	width: 80%;
	margin: auto;
}

article > * {
	transform: translateY(-3em);
}

article section section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 1em 8em 1em 8em;
}

article section section p {
	color: orange;
	text-align: right;
}

article section section h3 {
	text-align: left;
}

article img {
	height: 6em;
	padding: 1em;
}

@media screen and (max-width: 670px) {
	body {
		font-size:0.68em;
	}
}

