* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	background: rgb(235, 235, 235);
	text-align: center;
}

.circle {
    position: fixed;
    border-radius: 50%;
	opacity: 0.6;
}

a:hover {
	color: orange
}

