body > aside {
	color: white;
	background: rgb(20, 20, 20);
	padding: 2em 2em 2em 5%;
	text-align: left;
	max-width: 70%;
	min-width: 400px;
	margin: auto;
	margin-top: 5em;
	margin-bottom: 3em;
	position: relative;
	transition: 1.5s;
}

address {
	margin-top: 5px;
}

body > aside p:first-child {
	font-size: 2em;
}

body > aside p {
	font-size: 1.7em;
}

body > aside a {
	text-decoration: none;
	position: absolute;
	top: 15%;
	right: 2em;
	color: white;
	background: #e84f36;
	padding: 1.5%;
}

@media screen and (max-width: 650px) {
	body > aside {
		min-width: 450px;
	}
}

@media screen and (max-width: 550px) {
	body > aside {
		min-width: 350px;
	}
}

@media screen and (max-width: 360px) {
	body > aside {
		min-width: 290px;
	}
}

