body > article {
	position: relative;
	background: white;
	padding: 2em 2em 1em 2em;
	margin: 5%;
	max-width: 70%;
	min-width: 650px;
	transform: translateX(50%);
	opacity: 0;
	transition: 1.5s;
	display: inline-block;
}

h1, h2 {
	text-transform: uppercase;
	padding: 1em;
}

article > h1 {
	background: #49BABE;
	color: black;
	width: 80%;
	margin: auto;
}

#skills {
	width: 70%;
}

body > article#language, body > article#interests {
	min-width: 200px;
}

article > * {
	transform: translateY(-3em);
}

article section section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 1em 8em 1em 8em;
}

article section section p {
	color: orange;
	text-align: right;
}

article section section h3 {
	text-align: left;
}

article img {
	height: 5em;
	padding: 1em;
}

@media screen and (forced-colors: active) {
	article > h1 {
		background: #f7d287;
		color: black;
	}
}

@media screen and (max-width: 800px) {
	body > article {
		min-width: 400px;
	}
}

