body > article {
	position: relative;
	background: white;
	padding: 2em 2em 1em 2em;
	margin: 5%;
	max-width: 70%;
	min-width: 650px;
	transform: translateX(200px);
	opacity: 0;
	transition: transform 1.5s ease;
	display: inline-block;
}

h1, h2 {
	text-transform: uppercase;
	padding: 1em;
}

article > h1 {
	background: #49BABE;
	color: black;
	width: 80%;
	margin: auto;
}

#skills {
	width: 70%;
}

body > article#language, body > article#interests {
	min-width: 200px;
}

article > * {
	transform: translateY(-3em);
}

article section section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 1em 8em 1em 8em;
}

article section section p {
	color: orange;
	text-align: right;
}

article section section h3 {
	text-align: left;
}

article img {
	height: 5em;
	padding: 1em;
}

#education > section {
	padding-bottom: 3em;
	padding-top: 1em;
	max-width: 90%;
	margin: auto;
}

#education > section::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 75%; 
    border-bottom: 2px solid rgb(50, 50, 50);
}

#education > section:last-child {
	padding-bottom: 1em;
	border-bottom: 0px solid black;
}

#education > section:last-child::after {
	display: none;
}

@media screen and (max-width: 800px) {
	body > article {
		min-width: 400px;
	}
}

@media screen and (max-width: 455px) {
	body > article {
		min-width: 340px;
	}
}

@media screen and (max-width: 360px) {
	body > article {
		min-width: 290px;
	}
	article section section {
		padding: 1em 2em 1em 2em;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 0.8em;
	}
	article section section {
		padding: 1em 4em 1em 4em;
	}
}


