body > aside {
	display: grid;
	align-items: center;
	margin-bottom: 4em;
	margin-top: 4em;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

body > aside:nth-child(odd) {
	grid-template-columns: 5fr 4fr;
	color: white;
	background: rgb(30, 30, 30);
	border: 1px solid rgb(30, 30, 30);
}

body > aside:nth-child(even) {
	grid-template-columns: 4fr 5fr;
	color: black;
	background: white;
}

li {
	margin: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

body > aside img {
	width: 80%;
}

body > aside h2, body > aside p {	
	padding-bottom: 1em;
	padding-top: 1em;
}

body > aside section {
	padding: 3em;
	vertical-align: middle;
	text-align: left;
}

iframe, video {
	width: 100%;
	height: 100%;
	border: 3px solid black;
}

body > aside aside {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

#slider {
	display: grid;
	width: 400%;
	animation: slide 10s infinite;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 100%;
}

@keyframes slide {
 	0% {
		transform: translateX(0); 
  	}
	23% {
	    transform: translateX(0); 
	}
  	33% {
    	transform: translateX(-25%); 
  	}
  	56% {
    	transform: translateX(-25%); 
  	}
  	66% {
    	transform: translateX(-50%); 
  	}
  	90% {
    	transform: translateX(-50%); 
  	}
  	100% {
  		transform: translateX(-75%); 
  	}
}

@media screen and (min-width: 1080px) {
	body > aside:nth-child(even) img {
		margin-left: 10%;
	}

	body > aside:nth-child(odd) img {
		margin-right: 10%;
}
}

@media screen and (max-width: 1080px) {
	#pp {
		display: none;
	}
	body > aside {
		display: flex;
    	flex-direction: column;
    	width: 100%;
    	margin: 0;
	}
	body > aside section {
		order: 2;
	}
	body > aside img {
		width: 100%;
	}
	iframe {
		min-height: 30em;
	}
}

