#main aside:nth-of-type(odd) {
	grid-template-columns: 4fr 2fr;
}

#main aside:nth-of-type(even) {
	grid-template-columns: 2fr 4fr;
}

#main aside:nth-of-type(odd) div {
	grid-column: 1;
	grid-row: 1;
}

#main aside:nth-of-type(odd) img {
	grid-row: 1;
	grid-column: 2;
}

#main p {
	margin: 1em 0;
}

#main aside img {
	width: 400px;
	display: block;
	margin: auto;
}

#aboutButton::after {
	content: " ▼";
}

#aboutButton.hidden::after {
	content: " ▲";
}

#about {
	margin-bottom: 8em;
}

#about.hidden {
	display: none;
}

#about aside img {
	width: 200px;
}

.explore img {
	width: 300px;
	margin: auto;
	display: block;
}

.explore .actionButton {
	margin: auto;
}

@media (min-width: 1150px) {
	#main aside {
		display: grid;
		align-items: center;
	}
	.explore {
		display: flex;
		margin: 2em;
	}
	#main .explore section {
		width: 500px;
	}
	#main section {
		width: 65%;
	}
}
@media (max-width: 1150px) {
	#main aside img {
		width: 300px;
	}
	#about aside img {
		width: 100px;
		margin: 1em;
	}
	#about aside:nth-of-type(odd) img {
		float: right;
	}
	#about aside:nth-of-type(even) img {
		float: left;
	}
	.explore section {
		margin: auto;
		margin-bottom: 6em;
		width: 70%;
		min-width: 350px;		
	}
}

@media (max-width: 600px) {
	#about aside:nth-of-type(odd) img {
		float: none;
	}
	#about aside:nth-of-type(even) img {
		float: none;
	}
	#about aside img {
		margin: auto;
	}
}

