#main {
    text-align: center;
}

#main h2 {
    font-size: xx-large;
    text-align: center;
    margin: 2em 0;
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

#main h2::before,
#main h2::after {
    content: '';
    display: inline-block;
    width: 20%;
    height: 1px;
    background: black;
    vertical-align: middle;
    margin: 0 1em;
}


#main section p {
    margin: 10px auto;
    font-weight: normal;
}

#main section {
    max-width: 380px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    margin: 2em;
    text-align: left;
    transition: transform 0.5s ease;
}

#main figure {
    height: 280px;
    display: flex;
    align-items: center;
}

#main img {
    margin-top: 1em auto;
    width: 300px;
}

#main section:hover {
    transform: scale(1.1);
}

#main > a:hover {
    color:black;
}

@media (max-width: 600px) {
    #main h2::before,
    #main h2::after {
        width: 15%;
    }
}

