body {
	margin: 0;
	padding: 0;
	background: rgb(40, 40, 40);
	position: relative;
}

h1 {
	text-align:center;
	color: white;
	margin: 1em;
	font-size: 4em;
}

article {
	max-width: 70%;
	width: 800px;
	margin: auto;
	background: white;
	border-radius: 20px;
	border: 3px solid black;
	padding: 4em;
	position: relative;
}

i {
	font-style: italic;
}

a, a:visited {
	color: black;
}

a:hover {
	color: orange;
}

img {
	padding: 1em;
	max-width: 40%;
}

.list li {
	margin: 1.5em;
}

figure {
	display: flex;
	align-items: center
	margin: auto;
	width: 100%;
}


