body > aside {
	display: grid;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	min-height: 75vh;
	grid-template-columns: 4fr 6fr;
	color: black;
	background: white;
}

#slider img {
	height: 100%;
	width: 100%;
	margin: auto;
}


li {
	margin: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

body > aside img {
	height: 70%;
}

body > aside h2, body > aside p {	
	padding-bottom: 1em;
	padding-top: 1em;
}

body > aside section {
	padding: 3em;
	vertical-align: middle;
	text-align: left;
}


body > aside aside {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

#slider {
	display: grid;
	width: 400%;
	animation: slide 10s infinite;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 100%;
}

@keyframes slide {
 	0% {
		transform: translateX(0); 
  	}
	23% {
	    transform: translateX(0); 
	}
  	33% {
    	transform: translateX(-25%); 
  	}
  	56% {
    	transform: translateX(-25%); 
  	}
  	66% {
    	transform: translateX(-50%); 
  	}
  	90% {
    	transform: translateX(-50%); 
  	}
  	100% {
  		transform: translateX(-75%); 
  	}
}

@media screen and (min-width: 1080px) {
	body > aside:nth-child(even) img {
		margin-left: 10%;
	}

	body > aside:nth-child(odd) img {
		margin-right: 10%;
	}
	
}

@media screen and (max-width: 1180px) {
	#pp {
		display: none;
	}
	body > aside aside {
		overflow-y: auto;
	}
	body > aside {
		display: flex;
    	flex-direction: column;
    	width: 100%;
    	margin: 0;
		min-height: 78vh;
	}
	body > aside section {
		order: 2;
	}
	body > aside img {
		width: 100%;
	}
	iframe {
		min-height: 30em;
	}
}

